<div class="container" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-evenly center">
  <mat-card class="card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-icon>add_circle</mat-icon>
    <span>Create Account</span>
  </mat-card>
  <mat-card class="card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-icon>visibility</mat-icon>
    <span>Log your meeting</span>
  </mat-card>
  <mat-card class="card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-icon>table_view</mat-icon>
    <span>View</span>
  </mat-card>
</div>


