<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>C</h2>
        <h3>Create Account</h3>
        <p>You need to create an account, before logging or viewing</p>
        <a href="#">Create</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>V</h2>
        <h3>View Logs</h3>
        <p>View all your logs, for each sprint</p>
        <a href="#">View</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>A</h2>
        <h3>Add Logs</h3>
        <p>Add logs by name, time consumed</p>
        <a href="#">Add</a>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
